:root {
  --section-color: lightgray;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  border: 1px solid lightgray;
}

h1 {
  text-align: center;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {
  padding: 2rem;
}

section {
  margin: 0;
  min-height: calc(100vh - 82px - 21px);
  background-color: var(--section-color);
  padding: 1rem;
}

section:nth-child(2n) {
  background-color: hsl(from var(--section-color) h s calc(l - 5));
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: normal;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.flex-wrapper > div {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
aside > nav > ul {
  /* Navigations-Liste */
  border: 1px solid black;
  list-style: none;
  padding: 0;
}

aside > nav > ul > li {
  /* Eintrag in Navigationsliste */
  border: 1px solid black;
  margin: 0;
}

aside > nav > ul > li > a {
  /* Link in Navigationsliste */
  border: 0px solid black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
}

.color-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.color-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.svg-red rect {
  stroke: black;
  fill: red;
}

.svg-green rect {
  stroke: black;
  fill: green;
}

.svg-reset rect {
  stroke: black;
  fill: lightgray;
}

.svg-blue rect {
  stroke: black;
  fill: blue;
}

.svg-yellow rect {
  stroke: black;
  fill: yellow;
}

.svg-beige rect {
  stroke: black;
  fill: beige;
}

fieldset {
  max-width: 2%;
  align-items: center;
}
